                <% if(locals.totalPage && locals.totalPage > 1 ) { %>
                <% var start = parseInt(locals.page) - 3 ;var start = start <=0 ? 1 : start; %>
                <%= locals.page %>
                <% var total =  parseInt(locals.page) + 3; var end = total >= (locals.totalPage) ? (locals.totalPage) : total; %>
                    <div class="pagenavi">
                        <ul>
                        <% for(var i = start;i<= end;i++) {%>
                        <li><a <%if(i == locals.page) {%>class="current" <%}%>href="/page/<%= i %>"><%= i %></a></li>
                        <%}%>
                        </ul>
                    </div>
                <% } %>
                </article>
            </div>
            <div class="row-fluid">

                <footer class="span10 offset1 text-center"><hr>Made by <a href="http://isayme.com" target="_blank">iSayme</a> 2013</footer>
            </div>
        </div><!--container-->
    </body>
</html>