                </article>
            </div>
            <div class="row-fluid">

                <footer class="span10 offset1 text-center"><hr>Made by <a href="http://isayme.com" target="_blank">iSayme</a> 2013</footer>
            </div>
        </div><!--container-->
    </body>
</html>