<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MeBlog</title>
        <!--[if lt IE 9]>
            <script type = "text/javascript">
                (function(elem) {
                    var i, element;
                    for (i = 0; i < elem.length; i++) {
                        element = elem[i];
                        document.createElement(element);
                    }
                })(["header","section","article","footer"])
            </script>
        <![endif]-->
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/bootstrap-responsive.css">
    </head>
    <body>
        <div class="container">
            <div class="row-fluid">
                <header class="span10 offset1">
                    <div class="row navbar">
                        <div class="navbar-inner">
                            <a class="brand offset2" href="/">Meblog</a>
                            <ul class="nav">
                                <li><a class="disabled">Based on Node.js and MongoDB</a></li>
                            </ul>
                        </div>
                    </div>
                </header>
            </div>
            <% if(locals.success || locals.error) {%>
            <div class="row-fluid">
                <article class="span8 offset2">
                <% if (locals.success) { %> 
                  <div class="alert alert-success">
                    <%= locals.success %> 
                  </div> 
                <% } %> 
                <% if (locals.error) { %> 
                  <div class="alert alert-error">
                    <%= locals.error %> 
                  </div> 
                <% } %>
                </article>
            </div>
            <% } %>