<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= locals.title %> - MeBlog</title>
        <!--[if lt IE 9]>
            <script type = "text/javascript">
                (function(elem) {
                    var i, element;
                    for (i = 0; i < elem.length; i++) {
                        element = elem[i];
                        document.createElement(element);
                    }
                })(["header","section","article","footer"])
            </script>
        <![endif]-->
        <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon" />
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/bootstrap-responsive.css">
        <style type="text/css">
            textarea{resize:vertical;}
            .comment_list{margin: 5px 0;}
            .avatar{float:right;margin-left: 10px;margin-bottom: 5px;}
            .comment{padding-top: 5px;word-wrap:break-word;overflow:hidden;}
            .comtime{margin-left: 5px;}
            span.desc{padding:10px 20px 10px 10px;display: block;float: left;}
        </style>
        <script type="text/javascript" src="/editor/kindeditor-min.js"></script>
        <script type="text/javascript" src="/editor/zh_CN.js"></script>
        <script typ="text/javascript">
            var editor;
            KindEditor.ready(function(K) {
                    editor = K.create('#postessay',{
                        width:'570px',
                        minWidth:'570px',
                         items:['source', 'undo', 'redo', 'preview', 'template', 'code', 'cut', 'copy', 'paste','plainpaste', 'justifyleft', 'justifycenter', 'justifyright','justifyfull', 'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent', 'subscript','superscript', 'clearhtml', '/','formatblock', 'fontname', 'fontsize', 'forecolor', 'hilitecolor', 'bold','italic', 'underline', 'strikethrough',  'removeformat', 'image','flash', 'media', 'table', 'hr', 'emoticons', 'pagebreak','anchor', 'link', 'unlink']
                    });
            });
        </script>
    </head>
    <body>
        <div class="container">
            <div class="row-fluid">
                <header class="span10 offset1">
                    <div class="row navbar">
                        <div class="navbar-inner">
                            <a class="brand offset2" href="/">Meblog</a>
                            <span class="desc">Based on Node.js and MongoDB. Using Express,ejs,Bootstrap and KindEditor. Thx all!!</span>
                        </div>
                    </div>
                </header>
            </div>
            <% if(locals.success || locals.error) {%>
            <div class="row-fluid">
                <article class="span8 offset2">
                <% if (locals.success) { %>
                  <div class="alert alert-success text-center">
                    <%= locals.success %>
                  </div>
                <% } %>
                <% if (locals.error) { %>
                  <div class="alert alert-error text-center">
                    <%= locals.error %>
                  </div>
                <% } %>
                </article>
            </div>
            <% } %>