<%- include header %>
            
            <div class="row-fluid">
                <nav class="span2 offset2">
                    <ul class="nav nav-tabs nav-stacked">
                        <% if(locals.user) {%>
                        <li class="disabled"><a href="javascript:;" >欢迎您,<%= locals.user.name %></a></li>
                        <% } %>
                        <li><a href="/">首页</a></li>
                        <% if(locals.user) {%>
                        <li class="active"><a>发言</a></li>
                        <li><a href="/logout">退出</a></li>
                        <% } else { %>
                         <li><a href="/login">登录</a></li>
                        <li><a href="/reg">注册</a></li>
                        <% } %>
                    </ul>
                </nav>
                <article class="span6">
                    <form method="post" class="form-horizontal">
                        <fieldset>
                            <legend>发言</legend>
                            <div class="control-group">
                                <label class="label-control" for="title">标题：</label>
                                <div class="control">
                                    <input type="text" class="span12" name="title" />
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="label-control" for="post">正文：</label>
                                <div class="control">
                                    <textarea name="post" id="postessay" class="span12" rows="12"></textarea>
                                </div>
                            </div>
                            <input type="submit" class="btn btn-primary btn-block" value="发表" />
                        </fieldset>
                    </form>
                </article>
            </div>
<%- include footer %>