<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MeBlog</title>
        <!--[if lt IE 9]>
            <script type = "text/javascript">
                (function(elem) {
                    var i, element;
                    for (i = 0; i < elem.length; i++) {
                        element = elem[i];
                        document.createElement(element);
                    }
                })(["header","section","article","footer"])
            </script>
        <![endif]-->
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/bootstrap-responsive.css">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <header class="span9 offset3">
                    <div class="row">
                        <h1 class="span2"><a href="/">MeBlog</a></h1>
                        <span class="span4">Based on Node.js and MongoDB</span>
                    </div>
                </header>
            </div>
            <% if(locals.success || locals.error) {%>
            <div class="row">
                <article class="span7 offset5">
                <% if (locals.success) { %> 
                  <div> 
                    <%= locals.success %> 
                  </div> 
                <% } %> 
                <% if (locals.error) { %> 
                  <div> 
                    <%= locals.error %> 
                  </div> 
                <% } %>
                </article>
            </div>
            <% } %>
            
            <div class="row">
                <nav class="span2 offset3 text-right">
                    <ul class="unstyled">
                        <% if(locals.user) {%>
                        <li><a href="javascript:;">欢迎您,<%= locals.user.name %></a></li>
                        <% } %>
                        <li><a href="/">首页</a></li>
                        <% if(locals.user) {%>
                        <li><a href="/post">发言</a></li>
                        <li><a href="/logout">退出</a></li>
                        <% } else { %>
                         <li><a href="/login">登录</a></li>
                        <li><a href="/reg">注册</a></li>
                        <% } %>
                    </ul>
                </nav>
                <article class="span6">
<form method="post" class="form-horizontal">
    <fieldset>
        <legend>注册</legend>
        <div class="control-group">
            <label class="control-label" for="username">用户名：</label>
            <div class="control">
                <input type="text" name="username" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="password">密码：</label>
            <div  class="control">
                <input type="password" name="password" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="password-repeat">确认密码：</label>
            <div class="control">
                <input type="password" name="password-repeat" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label"></label>
            <div class="control">
                <button type="submit" class="btn btn-primary">注册</button>
            </div>
        </div>
    </fieldset>
</form>
            </article>
        </div>
        </div><!--container-->
    </body>
</html>